*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:"2px solid blue";
}

body, html{
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  background-color: #040000 !important;
}
