


@layer base {
    @font-face {
      font-family: "JUST Sans ExBold";
      src: url("./assets/fonts/just_sans/JUST Sans ExBold.otf") format("opentype");
      /* font-weight: 100;
      font-display: swap;
      font-style: normal; */
    }

        @font-face {
      font-family: "JUST Sans Regular";
      src: url("./assets/fonts/just_sans/JUST Sans Regular.otf") format("opentype");
      /* font-weight: 100;
      font-display: swap;
      font-style: normal; */
    }
  

  }

  

:root{
  --brand-amber: #FFAB46;
  --brand-green: #2E7D4D;
}

body{
  font-family: "JUST Sans Regular";
  color: #fff;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-family: "JUST Sans ExBold";
}


